* {
  margin: 0;
  padding: 0;
  font-style: 'Microsoft YaHei'; }

.embed {
  z-index: -1;
  position: absolute; }

a {
  text-decoration: none;
  color: #000; }

body {
  height: 3000px;
  background: url(./../images/2.gif); }

.menu {
  background: url(./../images/5.gif);
  width: 280px;
  border-right: 4px solid #97d1d1;
  position: absolute;
  top: 0;
  line-height: 1em;
  height: 1em;
  left: -280px;
  z-index: 10; }
  .menu .menu_opa {
    background: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.1; }
  .menu .menu_icon {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 280px; }
    .menu .menu_icon .icon {
      background: url(./../images/b_menu.svg) no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      margin-left: 10px;
      top: 45%; }
      .menu .menu_icon .icon:hover {
        color: orange; }
  .menu .menu_text {
    position: absolute;
    font-family: 'Yuanti';
    line-height: 1em;
    height: 1em;
    top: 100px;
    width: 100%;
    text-align: center; }
    .menu .menu_text .menu_text_title {
      font-size: 40px;
      color: #97d1d1; }
      .menu .menu_text .menu_text_title:hover {
        color: orange; }
    .menu .menu_text .menu_text_1, .menu .menu_text .menu_text_2 {
      font-size: 20px;
      color: #fff;
      display: block;
      margin-top: 60px; }
      .menu .menu_text .menu_text_1:hover, .menu .menu_text .menu_text_2:hover {
        color: orange; }

.menu_active {
  color: red;
  font-size: 40px; }
  .menu_active:hover {
    color: orange; }

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid red;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0; }

.main {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .main .main_part1 {
    width: 100%;
    height: 682px;
    background: url(./../images/9.gif);
    overflow: hidden;
    position: relative; }
    .main .main_part1 .part1_title {
      width: 0px;
      position: absolute;
      top: 200px;
      left: 250px;
      font-size: 80px;
      font-family: 'Microsoft YaHei';
      color: #fffbf0;
      letter-spacing: 10px;
      opacity: 0; }
      .main .main_part1 .part1_title .part1_title_1, .main .main_part1 .part1_title .part1_title_2 {
        width: 750px;
        margin-bottom: 80px; }
      .main .main_part1 .part1_title .part1_title_2 {
        margin-left: 250px; }
      .main .main_part1 .part1_title .part1_bar {
        height: 2px;
        width: 100%;
        background: #fffbf0;
        position: absolute;
        left: 0px;
        top: 120px; }
    .main .main_part1 .part1_circle {
      width: 80px;
      height: 80px;
      background: skyblue;
      border-radius: 35%;
      position: absolute;
      top: 100px;
      font-size: 24px;
      color: #fff;
      text-align: center;
      line-height: 80px;
      letter-spacing: 1px; }
    .main .main_part1 .author {
      position: absolute;
      top: 655px;
      left: 10px;
      font-size: 20px;
      color: orange;
      opacity: 0; }
      .main .main_part1 .author a {
        font-size: 16px;
        color: #fff; }
    .main .main_part1 .part1_alert_1, .main .main_part1 .part1_alert_2, .main .main_part1 .part1_alert_3 {
      height: 160px;
      width: 40px;
      top: -140px;
      left: 800px;
      background: #fffbf0;
      position: absolute;
      border-radius: 10px; }
      .main .main_part1 .part1_alert_1 .part1_alert_text, .main .main_part1 .part1_alert_2 .part1_alert_text, .main .main_part1 .part1_alert_3 .part1_alert_text {
        writing-mode: tb-rl;
        margin-left: 12px;
        text-align: center;
        margin-top: 40px; }
    .main .main_part1 .part1_alert_1 {
      height: 180px;
      top: -160px;
      background: red; }
      .main .main_part1 .part1_alert_1 .part1_alert_text {
        margin-top: 30px; }
    .main .main_part1 .part1_alert_2 {
      top: -120px;
      height: 140px;
      right: 110px;
      background: #e3f9fd; }
      .main .main_part1 .part1_alert_2 .part1_alert_text {
        margin-top: 40px; }
    .main .main_part1 .triange {
      width: 0;
      border-top: 10px solid transparent;
      border-left: 20px solid orange;
      border-bottom: 10px solid transparent;
      position: absolute;
      bottom: 80px;
      right: 300px;
      opacity: 0; }
  .main .main_part2 {
    width: 100%;
    height: 600px;
    position: relative;
    border-bottom: 1px solid #ccc; }
    .main .main_part2 .part2_body {
      width: 65%;
      position: absolute;
      margin-left: 150px;
      margin-top: 150px; }
      .main .main_part2 .part2_body .part2_title {
        font-size: 30px;
        line-height: 1.5em; }
        .main .main_part2 .part2_body .part2_title .part2_title_2 {
          font-size: 40px;
          color: #44cef6; }
      .main .main_part2 .part2_body .part2_text {
        margin-top: 50px;
        height: 300px; }
        .main .main_part2 .part2_body .part2_text .part2_text_1 {
          font-size: 20px;
          line-height: 2em;
          text-indent: 2em; }
  .main .main_part3 {
    width: 100%;
    height: 600px;
    border-bottom: 1px solid #ccc;
    position: relative;
    overflow: hidden; }
    .main .main_part3 .part3_body {
      position: absolute;
      width: 830px;
      margin-left: 300px;
      height: 400px;
      margin-top: 150px;
      overflow: hidden; }
      .main .main_part3 .part3_body .part3_title {
        margin-left: 100px;
        margin-top: 0px;
        height: 40px;
        font-size: 40px;
        text-align: right;
        color: orange;
        letter-spacing: 40px; }
      .main .main_part3 .part3_body .part3_main {
        width: 630px;
        height: 350px;
        background: orange;
        position: absolute;
        bottom: 0;
        left: 830px; }
      .main .main_part3 .part3_body .part3_pic1 {
        background: skyblue; }
      .main .main_part3 .part3_body .part3_pic2 {
        background: red; }
      .main .main_part3 .part3_body .part3_pic3 {
        background: green; }
      .main .main_part3 .part3_body .part3_pic4 {
        background: grey; }

/*# sourceMappingURL=css.css.map */
